node_modules/
.venv
__pycache__
.pi
.tmp/
.dev
.DS_Store

# Gradle
benchmarks/test-runners/java/.gradle/
benchmarks/test-runners/java/build/

# Maven
benchmarks/test-runners/maven/target/

# .NET
benchmarks/test-runners/dotnet/bin/
benchmarks/test-runners/dotnet/obj/

# Rust / Cargo
benchmarks/test-runners/cargo/target/
benchmarks/test-runners/cargo-build/target/
